@tailwind base;
@tailwind components;
@tailwind utilities;

#main a {
	@apply text-gray-200 border-b-2 border-dashed border-blue-600 hover:text-yellow-500;
}

input.input-text {
	@apply text-lg rounded-md border-0 border-gray-200 px-3 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent;
}

.btn {
	@apply mb-1 font-semibold text-base p-2 w-max rounded-md bg-green-600 text-white hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent;
}

.page-header {
	@apply container mt-16 mb-4 text-center;
}

.page-header h1 {
	@apply text-3xl font-bold text-white;
}

.body-bg {
	background: #141e30; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #243b55, #141e30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal {
	transition: opacity 0.25s ease;
}
