@tailwind base;
@tailwind components;
@tailwind utilities;

#main a,
#footer a {
	@apply text-gray-200 border-b-2 border-dashed border-blue-600 hover:text-yellow-500;
}

a.bgw {
	@apply text-blue-600 !important;
}
input.input-text {
	@apply text-lg rounded-md border-0 border-gray-200 px-3 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent;
}

textarea.input-text {
	@apply w-full max-w-full h-32;
}

.btn {
	@apply mb-1 font-semibold text-base p-2 w-max rounded-md bg-green-600 text-white hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent;
}

.page-header {
	@apply container mb-4 mt-4 text-center;
}

.page-header h1 {
	@apply text-3xl font-bold text-gray-200;
}

.body-bg {
	background: #141e30; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #708399, #033355); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #708399, #033355); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-menu {
	@apply inline-block text-yellow-600 no-underline hover:text-gray-200 py-1 px-2;
}

.modal {
	transition: opacity 0.25s ease;
}

.content-block {
	@apply mb-4 p-3;
}

.note {
	font-family: "Handlee", cursive;
	@apply text-lg my-2 text-gray-900 font-semibold;
}

#quote-author,
#til-source {
	@apply italic text-right text-black my-2;
}

#quote-author a,
#til-source a {
	@apply text-black;
}

/* Loader */
.loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #2c82bb; /* Blue */
	border-radius: 50%;
	width: 48px;
	height: 48px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.word {
	/* font-family: "Raleway", sans-serif; */
}

.word a {
	@apply text-yellow-400 border-0 border-none !important;
}

.word-utils a {
	@apply border-0 border-none !important;
}

.word-utils:hover {
	cursor: pointer;
}

.word-link a:hover {
	@apply text-green-400 !important;
}

a#edit-word {
	@apply text-black border-0 border-none !important;
}

.pagination a {
	@apply border-0 border-none !important;
}

.alert-message {
	@apply text-blue-600;
}

.alert-success {
	@apply text-green-600;
}

.alert-error {
	@apply text-red-600;
}

.alert-warning {
	@apply text-yellow-600;
}
/* The alert message box */
.alert {
	@apply p-1 bg-white mt-3 mb-3;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: black;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	@apply text-blue-700;
}

input#image {
	@apply text-white pl-0 ml-0;
}
