{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block main %}
<div class="page-header"><h1>Log In</h1></div>
<div class="flex flex-auto">
	<div class="flex-1">
		<div class="flex items-center justify-center">
			{% from "helpers/_form.html" import render_field %}
			<form class="w-2/4" action="/login" method="post">
				{{ render_field(form.username) }} {{ render_field(form.password) }}
				<button class="btn" type="submit">Enter</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}
